<ul>
<br>Reviews for {{title}} by {{author}}</br>

<br>Add A Review !!</br>
<form method = "POST" action = "http://localhost:3000/books/{{slug}}/comments">
Add A Review: <input type = "text" name = "text">
<label for="rating">rate:</label>
<select id="rating" name = "rating">
    <option value=0>0</option>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
</select>
Name: <input type = "text" name = "name">
<input type = "submit">
</form>



{{comment}}

{{#each review}}
<br>{{this.stars}}</br> 
<br>{{this.text}} by {{this.name}}</br>
{{/each}}


</ul>







